@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Shrikhand&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* COULEURS UTILISES  */
:root {
    --primaire : #9356DC;
    --secondaire : #FF79DA ;
      --tertiaire : #99E2D0;
    --gris-bg : #eeeeee ;
    --gris-bg-clair : rgb(247, 243, 243);
    --txt : #858585;
  }
//  h2{
//     font-family: 'Shrikhand', cursive;
// }
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
p{
    font-size: 18px;
}

/* HEADER */
.logo, .reservation, .fonctionnement, .restau{
   padding: 0 1%;
}
.fonctionnement, .restau {
    padding-bottom: 30px;
}
nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        
            .logo__header{
                
                width: 300px;

                    img{
                        width: 100%;
                        height: 75px;
                        align-self: center;
                        object-fit: contain;
                    }
            }
             .localisation{
                            // FAIRE LE TOP GRIS FLOUTé
                            border-top: solid grey;
                            background-color: var(--gris-bg);
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            color: rgb(70, 68, 68);
                            &__dtl{
                                width: 260px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                i{
                                    font-size: 22px;

                                            }
                                &__p{
                                    padding: 0 30px;
                                    font-size: 25px;
                                }

                            }

                            }
      
                            
                        
                    }

.reservation{
    background-color: var(--gris-bg-clair);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
            &__dtl{
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__texte{
                        text-align: center;
                        /* width: 305px; */
                }
                /* .btn{
                        border-radius: 50px;
                        background: linear-gradient(var(--secondaire),var(--primaire));
                        font-size: 18px;
                        padding: 20px;
                        width: 250px;
                        box-shadow: 5px 0 8px 3px rgb(196 191 191);;
                        text-align: center;
                        text-decoration: none;
                        color: white;
                } */

            }
}

/* FONCTIONNEMENT */
.fonctionnement{
    background-color: white;
    display: flex;
    flex-direction: column;

    &__list{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &__btn{
            background-color: var(--gris-bg);
            box-shadow: 10px 5px 5px rgb(230, 230, 230);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 30px;
            text-align: center;
            margin: 15px 10px;
            width: 100%;
            max-width: 335px;
            padding: 7px 0px;
            
            i{
                padding: 0 20px;
                color: #858585;
                font-size: 1.5em;
            }

                // modif num
                    .number {
                        color: white;
                        background-color: var(--primaire);
                        padding: 10px 12px;
                        margin-left: -16px;
                        border-radius: 50%;
                        align-self: center;
                        max-height: 52px;
                        font-size: 14px;

                        p{
                        color: white;
                        font-size: 12px;
                        align-self: center;
                        text-align: center;
                        }
                    }
        
        }
    }





/* LISTE DE RESTAURANTS */
.restau{
    background-color: var(--gris-bg);
    &__vignette{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;

                        a{
                            display: block;
                            text-decoration: none;
                            width: 40%;
                            color: black;
                        }

                        &__liste{
                            width: 100%;
                            text-decoration: none;
                            color: black;
                            border-radius: 18px;
                            display: flex;
                            flex-direction: column;
                            margin: 20px 0;
                            box-shadow: 5px 10px 5px rgb(224, 223, 223);
                            
                        }
                            &__img{
                                height: 220px;
                                width: 100%;
                                border-top-left-radius: 13px;
                                border-top-right-radius: 13px;
                                overflow: hidden;
                                position: relative;
                        
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: 50% 50%;
                                }
                                .nouveau{
                                    
                                    border-radius: 3px;
                                    position: absolute;
                                    top: 17px;
                                    right: 12px;
                                    background-color: var(--tertiaire);
                                    color: green;
                                    padding: 0px 15px;

                                    p{
                                        margin: 9px 0;
                                    }

                                }
                            }

                            &__dtl{
                                
                                padding: 5% 5%;
                                /* width: 100%; */
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-bottom-left-radius: 18px;
                                border-bottom-right-radius: 18px;
                                
                                &__txt{
                                    text-align: justify;
                                    width: 100%;

                                    h4{
                                        margin: 5px 0;
                                        font-size: 20px;
                                        font-weight: bolder;
                                    }
                                    p{
                                        margin: 0;

                                    }
                                }
                                i{
                                    font-size: 1.7em;
                                    background-color: white;
                                }
                            
                        }
                        
    }
}
/* FOOTER */
// CHANGER LA COULEUR DU LOGO 
footer{
    color: white;
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 25px 0 0 0;
    padding: 2%;
    align-items: flex-start;

    .footer__logo{
                
        width: 150px;

            img{
                width: 100%;
                height: 75px;
                align-self: center;
                object-fit: contain;
            }
        }
    .footer__dtl{
        display: flex;
        flex-direction: row;
        align-items: center;

        i{
            padding-right: 10px;
        }
        p{
            margin: 7px 0;
            font-size: 20px;
        }
    }
}
// DEUXIEME PAGE
//MODIFIER LA PLACE DU LOGO
.arrow__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}
.menu__1__img{
    max-width: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
}
// enlever les margin/padding des p et h2/h3
main{
    display: flex;
    
    .container__page{
        background-color: var(--gris-bg);
     /*    width: 100%;
        max-height: 90%;
        top: 59%;
        left: 0px; */
        z-index: 1;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        padding: 20px 30px;
    }

    .page2{
        font-family: 'Shrikhand', cursive;
    }

    .titre-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu__carte{
            background-color: white;
            box-shadow: 10px 5px 5px rgb(230, 230, 230);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-radius: 30px;
            text-align: center;
            margin: 15px 10px;
            width: 100%;
            max-width: 90%;
            //ajuster !!!
            padding: 10px 30px

}
.menu__carte_txt{
    flex-direction: column;
}
}
.btn{
    border-radius: 50px;
    background: linear-gradient(var(--secondaire),var(--primaire));
    font-size: 18px;
    padding: 20px;
    width: 250px;
    box-shadow: 5px 0 8px 3px rgb(196 191 191);;
    text-align: center;
    text-decoration: none;
    color: white;
}
/* telephones */
@media screen and (max-width : 768px){
   body{
        flex-direction: column;
    }

    .reservation__dtl__texte{
        max-width: 335px;
    }

    .restau__vignette a{
        width: 90%;
        flex-direction: column;
    }
// TROUVER COMMENT UNIFIER LE BTN
// fonctionne pas !!
.fonctionnement{
    flex-direction: column;
}
.fonctionnement__list{
    display: flex;
    flex-direction: column;
}

}