@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* COULEURS UTILISES  */
:root {
  --primaire: #9356DC;
  --secondaire: #FF79DA ;
  --tertiaire: #99E2D0;
  --gris-bg: #F6F6F6;
  --gris-bg-clair: #FFFFFF;
  --txt: #858585;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

p {
  font-size: 18px;
}

h4 {
  font-size: 1.5em;
}

.btn {
  background: linear-gradient(0deg, var(--primaire), var(--secondaire));
  /* 90deg, var(--secondaire) 0%, rgba(9,9,121,1) 35%, var(--primaire) 100% */
  font-weight: 500;
  font-size: 18px;
  padding: 20px;
  width: 250px;
  box-shadow: 10px 5px 5px #EFEFEF;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 20px;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(#ff93e1 0%, #ae80e5 100%);
  box-shadow: 5px 0 12px 7px rgb(196, 191, 191);
}

footer {
  color: white;
  background-color: rgb(73, 73, 73);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 14px 0px 50px 33px;
  align-items: flex-start;
}
footer .footer__logo {
  width: 150px;
}
footer .footer__logo img {
  width: 100%;
  height: 75px;
  align-self: center;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer__dtl {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer__dtl i {
  padding-right: 10px;
}
footer .footer__dtl p, footer .footer__dtl a {
  text-decoration: none;
  margin: 7px 0;
  font-size: 20px;
  color: white;
}
footer h5 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7em;
  font-weight: 200;
  margin: 20px 0;
}

/* HEADER */
.logo, .reservation, .fonctionnement, .restau {
  padding: 0 1%;
}

.fonctionnement, .restau {
  padding-bottom: 30px;
}

.container-load {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-load .load {
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .logo {
  box-shadow: 0px 14px 14px -14px #d3d3d3;
  width: 100%;
}
nav .logo .logo__header {
  max-width: 200px;
  display: flex;
  justify-content: center;
  margin: auto;
}
nav .logo .logo__header img {
  width: 100%;
  height: 75px;
  align-self: center;
  -o-object-fit: contain;
     object-fit: contain;
}

main {
  /* FONCTIONNEMENT */
  /* LISTE DE RESTAURANTS */
}
main .localisation {
  padding: 10px 0px;
  background-color: #EAEAEA;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(70, 68, 68);
}
main .localisation__dtl {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  /*     i{
          font-size: 22px;

                  }
      &__p{
          padding: 0 30px;
          font-size: 25px;
      } */
}
main .localisation__dtl form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .localisation__dtl form .i-search {
  font-size: 22px;
  height: 43px;
  width: 80px;
  background-color: var(--fondGris);
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .localisation__dtl .input-search {
  border-style: none;
  width: 100%;
  height: 30px;
  font-weight: 700;
  font-size: 18px;
  background-color: #EAEAEA;
}
main .reservation {
  background-color: var(--gris-bg);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0 45px 0;
}
main .reservation__dtl {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .reservation__dtl__texte {
  text-align: center;
}
@media (max-width: 768px) {
  main .reservation__dtl__texte {
    max-width: 335px;
  }
}
main .fonctionnement {
  background-color: white;
  display: flex;
  flex-direction: column;
}
main .fonctionnement__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
@media (max-width: 599px) {
  main .fonctionnement__list {
    flex-direction: column;
    margin: 0 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 874px) {
  main .fonctionnement__list {
    display: flex;
    justify-content: space-around;
  }
}
main .fonctionnement__btn {
  background-color: var(--gris-bg);
  box-shadow: 10px 5px 5px #EFEFEF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  text-align: center;
  margin: 15px 10px;
  width: 100%;
  max-width: 335px;
  padding: 7px 0px;
}
@media screen and (min-width: 769px) and (max-width: 874px) {
  main .fonctionnement__btn {
    max-width: 30%;
  }
}
@media screen and (min-width: 875px) {
  main .fonctionnement__btn .fonctionnement__btn {
    width: 25%;
  }
  main .fonctionnement__btn .fonctionnement__btn i {
    padding: 0 10px;
  }
}
@media screen and (min-width: 968px) and (max-width: 1048px) {
  main .fonctionnement__btn {
    width: 25%;
  }
}
main .fonctionnement__btn .number {
  color: white;
  background-color: var(--primaire);
  padding: 10px 12px;
  margin-left: -16px;
  border-radius: 50%;
  align-self: center;
  max-height: 52px;
  font-size: 14px;
}
main .fonctionnement__btn .number p {
  color: white;
  font-size: 12px;
  align-self: center;
  text-align: center;
}
main .fonctionnement__btn i {
  padding: 0 20px;
  color: #858585;
  font-size: 1.5em;
}
main .fonctionnement__btn p {
  font-weight: 500;
}
main .restau {
  background-color: var(--gris-bg);
}
main .restau p {
  font-size: 22px;
}
main .restau__vignette {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  main .restau__vignette {
    flex-direction: column;
  }
}
main .restau__vignette a {
  display: block;
  text-decoration: none;
  width: 40%;
  color: black;
}
@media (max-width: 768px) {
  main .restau__vignette a {
    width: 90%;
    display: flex;
  }
}
main .restau__vignette__liste {
  width: 100%;
  text-decoration: none;
  color: black;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  box-shadow: 1px 8px 12px 8px rgb(230, 230, 230);
}
main .restau__vignette__img {
  height: 220px;
  width: 100%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  overflow: hidden;
  position: relative;
}
main .restau__vignette__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
main .restau__vignette__img .nouveau {
  border-radius: 3px;
  position: absolute;
  top: 17px;
  right: 12px;
  background-color: var(--tertiaire);
  color: green;
  padding: 0px 15px;
}
main .restau__vignette__img .nouveau p {
  margin: 9px 0;
}
main .restau__vignette__dtl {
  padding: 5% 5%;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  position: relative;
}
main .restau__vignette__dtl__txt {
  text-align: justify;
  width: 100%;
}
main .restau__vignette__dtl__txt h4 {
  margin: 5px 0;
  /* font-size: 20px; */
  font-weight: bolder;
}
main .restau__vignette__dtl__txt p {
  margin: 0;
}
main .btn__like {
  height: 35px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
main .btn__like:hover .fas {
  opacity: 1;
}
main .btn__like .fa-heart {
  position: absolute;
  top: 0px;
  right: 0px;
}
main .btn__like .fas {
  opacity: 0;
  color: transparent;
  background: linear-gradient(var(--secondaire), var(--primaire));
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 300ms ease-in-out;
}

.arrow__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  position: relative;
}
.arrow__logo .arrow {
  position: absolute;
  top: 20px;
  left: 25px;
  color: black;
}

.menu__bg__img {
  max-width: 100%;
  max-height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* position: relative; */
}

main {
  display: flex;
}
main .container__page {
  background-color: var(--gris-bg);
  margin-top: -50px;
  position: relative;
  z-index: 1;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  padding: 20px 20px;
  height: 100%;
  width: 100%;
}
main .container__page p {
  font-size: 15px;
  margin: 0;
  font-weight: bold;
}
main .container__page .menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container__page .menu__title--h1 {
  margin: 20px 0;
  font-family: "Shrikhand", cursive;
  font-weight: 200;
}
main .container__page .menu__title .menu__like {
  height: 50px;
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  main .container__page .menu {
    display: flex;
  }
}
main .container__page .menu__dtl {
  margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
  main .container__page .menu__dtl {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 35%;
  }
}
main .container__page .menu__dtl__title {
  color: #636060;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 20px 0 0 0;
  position: relative;
  padding-bottom: 8px;
  font-weight: 400;
}
main .container__page .menu__dtl__title::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
main .container__page .menu__card {
  background-color: white;
  display: flex;
  border-radius: 17px;
  margin: 15px 0px;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
  box-shadow: 1px 8px 12px 8px rgb(230, 230, 230);
}
@media screen and (min-width: 992px) {
  main .container__page .menu__card {
    width: 90%;
  }
}
main .container__page .menu__card__txt {
  flex-direction: column;
  text-align: justify;
  width: 100%;
  padding: 15px 5px 15px 20px;
  overflow: hidden;
}
main .container__page .menu__card__txt h3 {
  font-size: 1.4em;
  margin: 0;
  padding: 0 0 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .container__page .menu__card__txt p {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .container__page .menu__card__price {
  padding: 15px 20px 15px 0;
  display: flex;
  align-items: flex-end;
  margin-right: 15px;
}
main .container__page .menu__card__check {
  display: flex;
  width: 20px;
  padding: 10px 35px;
  margin: -1px -80px -1px 0px;
  border-bottom-right-radius: 17px;
  border-top-right-radius: 17px;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  transition: 350ms ease-in-out;
  opacity: 1;
}
main .container__page .menu__card__check .fa-check {
  border-radius: 100px;
  background-color: white;
  padding: 10px;
  color: #99e2d0;
}
main .container__page .menu__btn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding-bottom: 20px;
}

@-webkit-keyframes bars {
  from {
    transform: scaleY(0.5);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes bars {
  from {
    transform: scaleY(0.5);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
@-webkit-keyframes load {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes load {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.container-load {
  -webkit-animation: load 1000ms;
          animation: load 1000ms;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.container-load .load__bar {
  background-color: var(--primaire);
  height: 100%;
  width: 30px;
  /* @keyframes name |duration | timing-function | delay | iteration-count | direction | fill-mode   */
  -webkit-animation: bars 1000ms ease-in-out infinite alternate backwards;
          animation: bars 1000ms ease-in-out infinite alternate backwards;
}
.container-load .load__bar--1 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.container-load .load__bar--2 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.container-load .load__bar--3 {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

@-webkit-keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu__card {
  -webkit-animation: fading 0.5s;
          animation: fading 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.menu__card--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.menu__card--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menu__card--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.menu__card--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.menu__card--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menu__card--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.menu__card--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.menu__card .fa-check {
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}
.menu__card:hover .menu__card__check {
  margin-right: -2px;
}
.menu__card:hover .menu__card__check .fa-check {
  transform: rotate(360deg);
}/*# sourceMappingURL=style.css.map */