@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@500&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* COULEURS UTILISES  */
:root {
  --primaire: #9356DC;
  --secondaire: #FF79DA ;
  --tertiaire: #99E2D0;
  --gris-bg: #eeeeee ;
  --gris-bg-clair: rgb(247, 243, 243);
  --txt: #858585;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

p {
  font-size: 18px;
}

/* HEADER */
.logo, .reservation, .fonctionnement, .restau {
  padding: 0 1%;
}

.fonctionnement, .restau {
  padding-bottom: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .logo__header {
  max-width: 200px;
  display: flex;
  justify-content: center;
  margin: auto;
}
nav .logo__header img {
  width: 100%;
  height: 75px;
  align-self: center;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .localisation {
  background-color: var(--gris-bg);
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(70, 68, 68);
}
nav .localisation__dtl {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .localisation__dtl i {
  font-size: 22px;
}
nav .localisation__dtl__p {
  padding: 0 30px;
  font-size: 25px;
}

.reservation {
  background-color: var(--gris-bg-clair);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}
.reservation__dtl {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation__dtl__texte {
  text-align: center;
  /* width: 305px; */
}
.reservation__dtl .btn {
  border-radius: 50px;
  background: linear-gradient(var(--secondaire), var(--primaire));
  font-size: 18px;
  padding: 20px;
  width: 250px;
  box-shadow: 5px 0 8px 3px rgb(196, 191, 191);
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 20px;
}

/* FONCTIONNEMENT */
.fonctionnement {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.fonctionnement__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fonctionnement__btn {
  background-color: var(--gris-bg);
  box-shadow: 10px 5px 5px rgb(230, 230, 230);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  text-align: center;
  margin: 15px 10px;
  width: 100%;
  max-width: 335px;
  padding: 7px 0px;
}
.fonctionnement__btn i {
  padding: 0 20px;
  color: #858585;
  font-size: 1.5em;
}
.fonctionnement__btn .number {
  color: white;
  background-color: var(--primaire);
  padding: 10px 12px;
  margin-left: -16px;
  border-radius: 50%;
  align-self: center;
  max-height: 52px;
  font-size: 14px;
}
.fonctionnement__btn .number p {
  color: white;
  font-size: 12px;
  align-self: center;
  text-align: center;
}

/* LISTE DE RESTAURANTS */
.restau {
  background-color: var(--gris-bg);
}
.restau__vignette {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.restau__vignette a {
  display: block;
  text-decoration: none;
  width: 40%;
  color: black;
}
.restau__vignette__liste {
  width: 100%;
  text-decoration: none;
  color: black;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  box-shadow: 5px 10px 5px rgb(224, 223, 223);
}
.restau__vignette__img {
  height: 220px;
  width: 100%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  overflow: hidden;
  position: relative;
}
.restau__vignette__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.restau__vignette__img .nouveau {
  border-radius: 3px;
  position: absolute;
  top: 17px;
  right: 12px;
  background-color: var(--tertiaire);
  color: green;
  padding: 0px 15px;
}
.restau__vignette__img .nouveau p {
  margin: 9px 0;
}
.restau__vignette__dtl {
  padding: 5% 5%;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.restau__vignette__dtl__txt {
  text-align: justify;
  width: 100%;
}
.restau__vignette__dtl__txt h4 {
  margin: 5px 0;
  font-size: 20px;
  font-weight: bolder;
}
.restau__vignette__dtl__txt p {
  margin: 0;
}
.restau__vignette__dtl i {
  font-size: 1.7em;
  background-color: white;
}

/* FOOTER */
footer {
  color: white;
  background-color: rgb(73, 73, 73);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2%;
  align-items: flex-start;
}
footer .footer__logo {
  width: 150px;
}
footer .footer__logo img {
  width: 100%;
  height: 75px;
  align-self: center;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer__dtl {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer__dtl i {
  padding-right: 10px;
}
footer .footer__dtl p {
  margin: 7px 0;
  font-size: 20px;
}

.arrow__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  position: relative;
}
.arrow__logo .arrow {
  position: absolute;
  top: 20px;
  left: 25px;
}

.menu__1__img {
  max-width: 100%;
  max-height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

main {
  display: flex;
}
main .container__page {
  background-color: var(--gris-bg-clair);
  position: relative;
  margin-top: -50px;
  z-index: 1;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  padding: 20px 20px;
  height: 100%;
  width: 100%;
}
main .container__page h3 {
  font-size: 16px;
}
main .container__page p {
  font-size: 15px;
  margin: 0;
  font-weight: bold;
}
main .container__page .menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container__page .menu .page2 {
  margin: 20px 0;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
main .container__page .menu__dtl {
  margin-bottom: 40px;
}
main .container__page .menu__dtl__title {
  color: #636060;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  margin: 20px 0 0 0;
  position: relative;
  padding-bottom: 8px;
}
main .container__page .menu__dtl__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
main .container__page .menu__card {
  background-color: white;
  box-shadow: 10px 5px 5px rgb(242, 231, 231);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 17px;
  text-align: center;
  margin: 15px 0px;
  padding: 15px 20px;
}
main .container__page .menu__card__txt {
  flex-direction: column;
  text-align: justify;
  width: 100%;
}
main .container__page .menu__card__txt h3 {
  font-size: 20px;
  margin: 0;
  padding: 0 0 5px 0;
}
main .container__page .menu__card__txt__dtl {
  display: flex;
  justify-content: space-between;
}
main .container__page .menu__card__txt__dtl p:first-child {
  font-family: "Raleway", sans-serif;
}
main .container__page .menu__btn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding-bottom: 20px;
}
main .container__page .menu__btn .btn {
  border-radius: 50px;
  background: linear-gradient(var(--secondaire), var(--primaire));
  font-size: 18px;
  padding: 20px;
  width: 250px;
  box-shadow: 5px 0 8px 3px rgb(196, 191, 191);
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 20px;
}

/* telephones */
@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .reservation__dtl__texte {
    max-width: 335px;
  }

  .restau__vignette a {
    width: 90%;
    flex-direction: column;
  }

  .fonctionnement {
    flex-direction: column;
  }

  .fonctionnement__list {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */