/* COULEURS UTILISES  */
:root {
    --primaire : #9356DC;
    --secondaire : #FF79DA ;
      --tertiaire : #99E2D0;
    --gris-bg : #eeeeee ;
    --gris-bg-clair : rgb(247, 243, 243);
    --txt : #858585;
  }