// LOADING PAGE
$size: 30px;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 3 ;

@keyframes bars {
    from {
        transform: scaleY(0.5);
        opacity: 0;
    }
    to {
        transform: scaleY(1.0);
        opacity: 1;
    }
}
@keyframes load {
    100% {
      opacity: 0;
      z-index: -1;
    }
  }

.container-load{
    animation: load 1s;
    animation-delay: 4999ms;
    animation-fill-mode: both;
    .load {
    
        &__bar {
            background-color: var(--primaire);
            height: 100%;
            width: $size;
            /* @keyframes duration | timing-function | delay |
            iteration-count | direction | fill-mode | play-state | name */
            animation: bars $anim-dur .3s backwards infinite ease-in-out alternate;
    
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: 1s * $i;
                 }
            }
        }
    }
}



// apparition progressive des plats
@keyframes fading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu__card {
    // name | duration
    animation: fading .5s;
    //  permet de faire réaparaitre les div (comme une mini boucle)
    animation-fill-mode: both;
    animation-delay: .5s;
 
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: 200ms * $i;
        }
    }

    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: 200ms * $i;
        }
    }
}



// CHECK VALIDATION
.menu__card{
    &:hover{
        .menu__card__check{
            // pour faire apparaitre la div check
             margin-right: -2px;

             .fa-check{
                transform: rotate(360deg) ;
                // car sinon l'icone commencerait à tourner bien avant d'apparaitre
                transition-delay: 200ms;
                transition : transform .5s ease-in-out ;
                }
        }
    }
}