@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@500&family=Shrikhand&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* COULEURS UTILISES  */
:root {
    --primaire : #9356DC;
    --secondaire : #FF79DA ;
      --tertiaire : #99E2D0;
    --gris-bg : #F6F6F6;
    --gris-bg-clair : #FFFFFF;
    --txt : #858585;



  }
  @mixin box-shadow-card{
    box-shadow: 5px 10px 5px rgb(224, 223, 223);
  }
  @mixin box-shadow-btn {
    box-shadow: 10px 5px 5px rgb(230, 230, 230);
  }
  h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
p{
    font-size: 18px;
}
.btn{  
  background: linear-gradient(var(--secondaire),var(--primaire));
  font-size: 18px;
  padding: 20px;
  width: 250px;
  @include box-shadow-btn;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 20px;
  cursor: pointer;
  &:hover{
     background: linear-gradient( lighten(#FF79DA, 5) 0%, lighten(#9356DC, 10) 100%);
     box-shadow: 5px 0 12px 7px rgb(196 191 191);
  }
}