

// DEUXIEME PAGE
//MODIFIER LA PLACE DU LOGO

.arrow__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}
.menu__1__img{
    max-width: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
}
// enlever les margin/padding des p et h2/h3
main{
    display: flex;
    
    .container__page{
        background-color: var(--gris-bg);
     /*    width: 100%;
        max-height: 90%;
        top: 59%;
        left: 0px; */
        z-index: 1;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        padding: 20px 20px;
    }

    .page2{
        font-family: 'Shrikhand', cursive;
    }

    .titre-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu__carte{
            background-color: white;
            box-shadow: 10px 5px 5px rgb(230, 230, 230);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-radius: 30px;
            text-align: center;
            margin: 15px 10px;
            max-width: 90%;
            //ajuster !!!
            padding: 10px 30px

}
.menu__carte_txt{
    flex-direction: column;
}
}
.btn{
    border-radius: 50px;
    background: linear-gradient(var(--secondaire),var(--primaire));
    font-size: 18px;
    padding: 20px;
    width: 250px;
    box-shadow: 5px 0 8px 3px rgb(196 191 191);;
    text-align: center;
    text-decoration: none;
    color: white;
}
.menu__details__list{
    p{
        color: #636060;
        text-transform: uppercase;
    }
}

